#################### MONITORIZACION Observer ###################
			define service{
			        use                     generic-service
        			host_name               Observer
        			service_description     Numero Usuarios
        			check_command           check_nrpe_1arg!check_users
			}

			define service{
        			use                     generic-service
        			host_name               Observer
        			service_description     SSH
        			check_command           check_ssh
			}
 
			define service{
        			use                     generic-service
        			host_name               Observer
        			service_description     Carga CPU
        			check_command           check_nrpe_1arg!check_load
			}

			define service{
			        use                     generic-service
        			host_name               Observer
        			service_description     Total Procesos
        			check_command           check_nrpe_1arg!check_total_procs
			}

            define service{
                    use                     generic-service
                    host_name               Observer
                    service_description     Espacio en Disco
                    check_command           check_nrpe_1arg!check_sda1
            }

            define service{
                    use                     generic-service
                    host_name               Observer
                    service_description     Total Procesos Zombies
                    check_command           check_nrpe_1arg!check_zombie_procs
            }

#################### MONITORIZACION Brother-ahs ###################
            define service{ 
                    use                     generic-service
                    host_name               Brother-ahs
                    service_description     HTTP
                    check_command           check_http
            }  
 
            define service{
                    use                     generic-service
                    host_name               Brother-ahs
                    service_description     MySql
                    check_command           check_mysql_cmdlinecred!nagios!nagios!
            }

			define service{
			        use                     generic-service
        			host_name               Brother-ahs
        			service_description     Numero Usuarios
        			check_command           check_nrpe_1arg!check_users
			}
 
			define service{
        			use                     generic-service
        			host_name               Brother-ahs
        			service_description     Carga CPU
        			check_command           check_nrpe_1arg!check_load
			}

			define service{
			        use                     generic-service
        			host_name               Brother-ahs
        			service_description     Total Procesos
        			check_command           check_nrpe_1arg!check_total_procs
			}

            define service{
                    use                     generic-service
                    host_name               Brother-ahs
                    service_description     Espacio en Disco
                    check_command           check_nrpe_1arg!check_sda1
            }
               
            define service{
                    use                     generic-service
                    host_name               Brother-ahs
                    service_description     Total Procesos Zombies
                    check_command           check_nrpe_1arg!check_zombie_procs
            }
#################### MONITORIZACION Brother-ahs ###################
            define service{ 
                    use                     generic-service
                    host_name               Brother-ember
                    service_description     HTTP
                    check_command           check_http
            }  
 
            define service{
                    use                     generic-service
                    host_name               Brother-ember
                    service_description     MySql
                    check_command           check_mysql_cmdlinecred!nagios!nagios!
            }

			define service{
			        use                     generic-service
        			host_name               Brother-ember
        			service_description     Numero Usuarios
        			check_command           check_nrpe_1arg!check_users
			}

			define service{
        			use                     generic-service
        			host_name               Brother-ember
        			service_description     Carga CPU
        			check_command           check_nrpe_1arg!check_load
			}

			define service{
			        use                     generic-service
        			host_name               Brother-ember
        			service_description     Total Procesos
        			check_command           check_nrpe_1arg!check_total_procs
			}

            define service{
                    use                     generic-service
                    host_name               Brother-ember
                    service_description     Espacio en Disco
                    check_command           check_nrpe_1arg!check_sda1
            }
               
            define service{
                    use                     generic-service
                    host_name               Brother-ember
                    service_description     Total Procesos Zombies
                    check_command           check_nrpe_1arg!check_zombie_procs
            }

#################### MONITORIZACION Brother-ahs ###################
            define service{ 
                    use                     generic-service
                    host_name               Balancer
                    service_description     HTTPS
                    check_command           check_https
            }  
 

			define service{
			        use                     generic-service
        			host_name               Balancer
        			service_description     Numero Usuarios
        			check_command           check_nrpe_1arg!check_users
			}

			define service{
        			use                     generic-service
        			host_name               Balancer
        			service_description     Carga CPU
        			check_command           check_nrpe_1arg!check_load
			}

			define service{
			        use                     generic-service
        			host_name               Balancer
        			service_description     Total Procesos
        			check_command           check_nrpe_1arg!check_total_procs
			}

            define service{
                    use                     generic-service
                    host_name               Balancer
                    service_description     Espacio en Disco
                    check_command           check_nrpe_1arg!check_sda1
            }
               
            define service{
                    use                     generic-service
                    host_name               Balancer
                    service_description     Total Procesos Zombies
                    check_command           check_nrpe_1arg!check_zombie_procs
            }