upstream fronted {
        server {{ IP_SERVER }};
        server {{ IP_SERVER2 }};
    }
    
    server {
		server_name fspcorp.ddns.net;
        location / {
            proxy_pass http://fronted;

        }
    }

